

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background:  rgb(30,30,30);
  color: yellow;
  font-family:"Pixelify Sans", sans-serif ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

p {
  font-size: 3rem;
  animation: pulseShadow 2s infinite;
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(239, 27, 239, 0.5);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 240, 122, 0.5);
  }
}



#wand {
  display: none;
  position: absolute;
  top: 30dvw;
  animation: moveUpDown 2s infinite alternate;
 
}

@keyframes moveUpDown {
  0% {
    top: 35dvw;
  }
  100% {
    top: 25dvw;
  }
}


.confetti-time {
  visibility: hidden;
}

.confetti {
  position: absolute;
  top: -1rem;
  width: 1rem;
  height: 1rem;
  -webkit-animation: confettiRotation 1.5s infinite both ease-in;
  -moz-animation: confettiRotation 1.5s infinite both ease-in;
  animation: confettiRotation 1.5s infinite both ease-in;
}

.confetti:nth-child(1) {
  left: 50%;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
  background: lightpink;
}

.confetti:nth-child(2) {
  left: 22%;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background: lightpink;
}

.confetti:nth-child(3) {
  left: 13%;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  background: lightpink;
}

.confetti:nth-child(4) {
  left: 54%;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  background: lightpink;
}

.confetti:nth-child(5) {
  left: 29%;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background: lightcyan;
}

.confetti:nth-child(6) {
  left: 68%;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  background: lightseagreen;
}

.confetti:nth-child(7) {
  left: 86%;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
  background: lightgrey;
}

.confetti:nth-child(8) {
  left: 40%;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  background: lightblue;
}

.confetti:nth-child(9) {
  left: 10%;
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
  background: lightpink;
}

.confetti:nth-child(10) {
  left: 90%;
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  animation-delay: 1.9s;
  background: lightgreen;
}
.confetti:nth-child(11) {
  left: 60%;
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
  background: darkmagenta;
}
.confetti:nth-child(12) {
  left: 26%;
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
  background: lightgoldenrodyellow;
}
.confetti:nth-child(13) {
  left: 2%;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
  background: darkorchid;
}


@-webkit-keyframes confettiRotation {
  0% {
    -webkit-transform: translate3d(0, 0, 0), skew(30deg) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(20px, 100vh, 0) skew(-30deg) rotateX(100deg) rotateY(380deg);
  }
}

@-moz-keyframes confettiRotation {
  0% {
    -moz-transform: translate3d(0, 0, 0), skew(30deg) rotateX(0) rotateY(0);
  }
  100% {
    -moz-transform: translate3d(20px, 100vh, 0) skew(-30deg) rotateX(100deg) rotateY(380deg);
  }
}

@keyframes confettiRotation {
  0% {
    transform: translate3d(0, 0, 0), skew(30deg) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(20px, 100vh, 0) skew(-30deg) rotateX(100deg) rotateY(380deg);
  }
}