body {
  overflow: hidden;
}


#playfield {
  position: absolute;
  left: 0;
  top: 0;
  width: 1400px;
  height: 1600px;
  background-image: url("img/bg11.png");
  background-repeat: repeat;
  background-size: 100% auto;
  animation: scrolling 30s linear infinite;
  z-index: 8;
}

#player {
  position: absolute;
  width: 15px;
  height: 20px;
  overflow: hidden;
  transform: translate(0px, 0px);
  z-index: 9;
}

#playfieldHouse {
  position: absolute;
  left: 0;
  top: 0;
  width: 1400px;
  height: 1600px;
  background-image: url("img/housegeschnitten.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: scrolling 30s linear infinite;
  z-index: 10;
}

#player-skin {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 45px;
  height: 80px;
  background-image: url("img/girl1.png");
  background-repeat: no-repeat;
}

#info {
  position: absolute;
  left: 50px;
  top: 95.5%;
  width: 800px;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 6;
  font-family: "Pixelify Sans", sans-serif;
  z-index: 100;
}

.run-right {
  animation: runRight 0.7s steps(3) infinite;
}
.run-down {
  animation: runDown 0.7s steps(3 ) infinite;
}
.run-left {
  animation: runLeft 0.7s steps(3) infinite;
}
.run-up {
  animation: runUp 0.7s steps(3) infinite;
}


.stay-down {
  transform: translate(-15px, 0px);
}
.stay-left {
  transform: translate(-15px, -20px);
}
.stay-right {
  transform: translate(-15px, -40px);
}
.stay-up {
  transform: translate(-15px, -60px);
}


@keyframes runUp {
  0% {
    clip-path: xywh(0px 60px 15px 20px);
    transform: translate(-0px, -60px);
  }
  100% {
    clip-path: xywh(45px 60px 15px 20px);
    transform: translate( -45px, -60px);
  }
}

@keyframes runLeft {
  0% {
    clip-path: xywh(0px 20px 15px 20px);
    transform: translate(0, -20px);
  }
  100% {
    clip-path: xywh(45px 20px 15px 20px);
    transform: translate(-45px, -20px);
  }
}

@keyframes runDown {
  0% {
    clip-path: xywh(0px 0px 15px 20px);
    transform: translate(-0px, -0px);
  }
  100% {
    clip-path: xywh(45px 0px 15px 20px);
    transform: translate(-45px, -0px);
  }
}


@keyframes runRight {
  0% {
    clip-path: xywh(0px 40px 15px 20px);
    transform: translate(-0px, -40px)
  }
  100% {
    clip-path: xywh(45px 40px 15px 20px);
    transform: translate(-45px, -40px)
  }
}

#bunny{
  position: absolute;
  height: auto;
  width: auto;
  top: 600px;
  left: 400px;
  z-index: 11;
}

#deer{
  position: absolute;
  height: auto;
  width: auto;
  top: 800px;
  left: 700px;
  z-index: 11;
}

#witch{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 640px;
  left: 780px;
  z-index: 11;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;

}

.modal-wrapper {
  width: 500px;
  height: 250px;
  background: ghostwhite;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 5px 5px green;
}

.close-btn-wrapper {
  display: flex;
}

.close-modal-btn {
  padding: 1px;
  background: white;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
  color: black;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background: green;
  color: white;
}

.modal-content {
  margin: auto;
  max-width: 335px;
  width: 100%;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
  color: black;
}

.hide {
  display: none;
}


#fontpixel {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
  color: black;
}

#breakspell{
  position: absolute;
  height: 20px;
  width: 25px;
  top: 800px;
  left: 780px;
  z-index: 19;
}

#wand{
  position: absolute;
  height: 20px;
  width: 25px;
  top: 355px;
  left: 709px;
  z-index: 19;
}